body{
  background-color: hsl(217, 24%, 15%);
  color: #728dba;
  height: 100vh; /* Establecer el alto al 100% de la altura de la ventana */
  font-family: sans-serif;
}

main{
  transform: rotate(-90deg);
  width: 100vh; /* Usar el alto de la ventana como el ancho */
  height: 100%; /* Usar el 100% del alto de la ventana */
}

#cryptocurrencies {
  display: flex;
  flex-wrap: wrap; /* Permite que los elementos se muevan a la siguiente línea cuando no quepan en el ancho disponible */
  justify-content: center;
}
  
.cryptocurrencies {
  padding: 10px;
  margin: 5px;
  text-align: center;
  width: 45%;
}

.coin_prices{
  display: flex;
}

.price_div{
  justify-content: center;
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: center; 
}

img{
  color: #728dba;
}

.cryptocurrencies_header{
  display: flex;
  justify-content: center; 
  font-weight: bold;
  font-size: 50px;

}

.cryptocurrencies_header h1{
  margin-left: 1.75%;
  font-weight: bold;
  font-size: 50px;
}

h1{
  font-size: 30px;
}

.change_div{
  display: flex;
  margin: 0;
  padding: 0;

}

#logo_img{
  text-align: center;
  margin: 7.5%;
}

#logo_img img{
  width: 600px; /* Adjust the width to your desired size */
  height: auto; /* Maintain the aspect ratio */
  padding-bottom: 10%;
}

body {
  justify-content: center;
  align-items: center;
  margin-left: 7.5%; /* Remove default margin */
  margin-top: -5%;
  padding-top: 0;
}

.div_chart{
  margin: 2.5%;
  text-align: center;
}

#coin_name{
  font-size: 50px;
}

.price_div h1{
  text-align: right;
  margin-right: 15%;
}

#div_msg{
  color: white;
  font-size: 80px;
  text-align: center;
}

#div_msg_txt{
  font-size: 72px;

}