<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nemo</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">

</head>
<body>

    <main>
        <div id="cryptocurrencies"></div>

        <div id="logo_img">
            <img src="{{ url_for('static', filename='images/nemo-logo.svg') }}" alt="Description of the image">
            </div>
        
        <script src="{{ url_for('static', filename='index.js') }}"></script>

        <div class="div_chart">
            <canvas id="myChart" ></canvas>
            <div>
                <h1 id="coin_name">Bitcoin</h1>
            </div>
        </div>
    </main>
    
</body>
</html>
